@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta http-equiv="refresh" content="0; url=../Login" />
</head>
<body>
    <p><a href="../Login">Redirect</a></p>
</body>
</html>