<div class="py-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1">Hello Doctor</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="py-5 col-md-6">
     <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-check-square-o"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/requestStatus">Check the status of your requests</b>
            </h5>
            <p class="my-1">Here you can see if one of your request was granted or not</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-12">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-wpforms"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/bloodRequest">Make a blood request</b>
            </h5>
            <p class="my-1">You can add a new request, specifying the blood type, quatity and urgency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
