<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=DESKTOP-AFL01LP;Initial Catalog=Lab01;Integrated Security=True"/>
  </connectionStrings>

  <!--Parent: Doctors
      Child: Patients-->

  <!--<appSettings>
    <add key="Parent" value="doctors"/>
    <add key="Child" value="patients"/>
    <add key="ParentSelectAll" value="SELECT * FROM doctors"/>
    <add key="idParent" value="doctor_id"/>
    <add key="ChildSelectAll" value="SELECT * FROM patients"/>
    <add key="ChildSelectOne" value="SELECT * FROM patients WHERE doctor_id = @v0"/>
    <add key="ChildInsert" value="INSERT into patients ([name],[birth_date],[CNP],[doctor_id]) VALUES (@v1, @v2, @v3, @v4)"/>
    <add key="ChildUpdate" value="UPDATE patients SET name = @v1, birth_date = @v2, doctor_id = @v4, CNP = @v3 WHERE patient_id = @v0"/>
    <add key="ChildDelete" value="DELETE FROM patients WHERE patient_id = @v0"/>
  </appSettings>-->

  <!--Parent: Doctors
      Child: Requests-->

  <appSettings>
    <add key="Parent" value="doctors"/>
    <add key="Child" value="requests"/>
    <add key="ParentSelectAll" value="SELECT * FROM doctors"/>
    <add key="idParent" value="doctor_id"/>
    <add key="ChildSelectAll" value="SELECT * FROM requests"/>
    <add key="ChildSelectOne" value="SELECT * FROM requests WHERE doctor_id = @v0"/>
    <add key="ChildInsert" value="INSERT into requests ([quantity],[rh],[blood_group],[doctor_id]) VALUES (@v1, @v2, @v3, @v4)"/>
    <add key="ChildUpdate" value="UPDATE requests SET rh = @v2, blood_group = @v3, doctor_id = @v4, quantity = @v1 WHERE request_id = @v0"/>
    <add key="ChildDelete" value="DELETE FROM requests WHERE request_id = @v0"/>
  </appSettings>

  <!--<add key="ParentInsert" value="INSERT into doctors ([name],[birth_date],[CNP]) VALUES (@v0, @v1, @v2)"/>-->
  
</configuration>
