<div class="py-5 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1">Hello donation center member.</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-database"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/donorData">Donors data</b>
            </h5>
            <p class="my-1">In this section you can updates data at a specific donor (update their blood results).</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-trash-o"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/idleDonors">Idle Donors</b>
            </h5>
            <p class="my-1">You can remove idle donors from the database (idle = didn't donate in 5 years)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-shopping-bag"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/bloodStocks">View the blood stocks</b>
            </h5>
            <p class="my-1">Here you can see how much blood there is in the database and which type, also here you can add blood into the database.</p>
          </div>
        </div>
      </div>
      <div class="py-5 col-md-6">
        <div class="row">
          <div class="text-center col-4">
            <i class="d-block mx-auto fa fa-5x fa-list"></i>
          </div>
          <div class="col-8">
            <h5 class="mb-3 text-primary">
              <b routerLink="/bloodRequests">View the blood request list</b>
            </h5>
            <p class="my-1">In that area of the program you can see all the requests for the dcp that you belong to.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
