@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta http-equiv="refresh" content="0; url=../Login" />
    <style>
        body {
            background-color: #CCC;
        }

        h2 {
            color: #222;
            margin-left: 40%;
            margin-top: 20%;
        }
    </style>
</head>
<body>
    <div>
        <h2><a href="../Login">Redirecting...</a></h2>
    </div>
</body>
</html>