<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">You are almost done... One more step left</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid d-block" src="assets/heartWithMuscle.png"> </div>
      <div class="col-md-6">
        <input type="text" name="cnp" class="form-control m-1" placeholder="CNP" required="required">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="phont" class="form-control m-1" placeholder="Phone Number" required="required"> </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="email" name="email" class="form-control m-1" required="required" placeholder="E-mail"> </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <select class="form-control m-1" name="zxczx" required="required">
              <option value="1">Male</option>
              <option value="2">Femele</option>
              <option value="3">Prefer not to say</option>
            </select>
            <div class="row">
              <div class="col-md-6">
                <h1 class="display-4">&nbsp;
                  <br> </h1>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
        <div class="row"> </div>
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary btn-lg" routerLink="/">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  