<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <form class="">
                            <div class="form-group col-md-6">
                                <label>Username</label>
                                <input type="email" class="form-control form-control-sm" 
                                        required="required" name="userName" 
                                        placeholder="Enter username here">
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Password</label>
                                <input type="password" class="form-control form-control-sm" 
                                        required="required" placeholder="Enter password here"> 
                            </div>
                        </form>
                        <select class="form-control m-1 col-md-6" name="loginAs" required="required">
                            <option value="1">Donor</option>
                            <option value="2">Doctor</option>
                            <option value="3">DCP</option>
                        </select>
                        <button type="submit" class="btn btn-primary my-2">Log in</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>