<div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Benefits of Blood Donation </h1>
          <p class="lead">There are so many benefits of donating blood, so sing-up and let's help some people! &nbsp;</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Prevents Hemochromatosis</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>Health benefits of blood donation include reduced risk of hemochromatosis. Hemochromatosis is a health condition that arises due to excess absorption of iron by the body.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Anti-cancer Benefits</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>Blood donation helps in lowering the risk of cancer. By donating blood the iron stores in the body are maintained at healthy levels. A reduction in the iron level in the body is linked with low cancer risk.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Maintains Healthy Heart &amp; Liver &nbsp;</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>Blood donation is beneficial in reducing the risk of heart and liver ailments caused by the iron overload in the body. Because only a small amount of iron can be aborbed; the excess is gets stored in heart, liver, and pancreas.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Can Reveal Health Problems &nbsp;</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>You’ll receive a mini-physical prior to the blood draw, in which someone will check your pulse, blood pressure, body temperature, hemoglobin and more. This can sometimes shed light on issues you didn’t even know about.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Weight Loss &nbsp;</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>Regular blood donation reduces the weight of the donors. This is helpful for those who are obese and are at a higher risk of cardiovascular diseases and other health disorders. However, blood donation should not be very frequent and you
                may consult your doctor before donating blood to avoid any health issues.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-primary">
                    <b>
                      <i>Stimulates Blood Cell Production &nbsp;</i>
                    </b>
                  </h5>
                </div>
              </div>
              <p>After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and, in turn, helps in maintaining good health.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-secondary text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-dark">Romania continues to stay at the end of Europe’s blood donation list, with only 1.7% of the adult population donating blood.&nbsp;You can make a difference, be a donor!</h1>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width:1,7%">1,7%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  