<!--Donor header-->
<div class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">Hello </h1>
            </div>
        </div>
    </div>
</div>
<!--Display the main page content-->
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <!--Donation History-->
            <div class="py-5 col-md-6">
                <div class="row">
                    <div class="text-center col-4">
                        <i class="d-block mx-auto fa fa-5x fa-file-o"></i>
                    </div>
                    <h5>
                        <a routerLink="/history">View the donation history</a>
                    </h5>
                </div>
            </div>
            <div class="py-5 col-md-6">
                <div class="row">
                    <div class="text-center col-4">
                        <i class="d-block mx-auto fa fa-5x fa-medkit"></i>
                    </div>
                    <div class="col-8">
                        <h5 class="mb-3 text-primary">
                            <a routerLink="/donate">Make an appointment</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="py-5 col-md-6">
                <div class="row">
                    <div class="text-center col-4">
                        <i class="d-block mx-auto fa fa-5x fa-clock-o"></i>
                    </div>
                    <div class="col-8">
                        <h5 class="mb-3 text-primary">
                            <b routerLink="/nextAppointment">Time until next donation</b>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="py-5 col-md-6">
                <div class="row">
                    <div class="text-center col-4">
                        <i class="d-block mx-auto fa fa-5x fa-calendar"></i>
                    </div>
                    <div class="col-8">
                        <h5 class="mb-3 text-primary">
                            <b routerLink="/currentAppointment">View the current appointment</b>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

